:root {
  --faster-space-1: 0.25rem;
  --faster-space-2: 0.5rem;
  --faster-space-3: 0.75rem;
  --faster-space-4: 1rem;
  --faster-space-5: 1.25rem;
  --faster-space-6: 1.5rem;
  --faster-radius-sm: 0.375rem;
  --faster-radius-md: 0.5rem;
  --faster-radius-lg: 0.75rem;
}
